#bg{
  background: url("bg.png") no-repeat top center;
  background-size: cover;
  overflow-x: hidden;
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0px;
  left: 20px;
}


/*main container*/

#wndx-sidebar{
  position: fixed;
  z-index: 1000000;
  right: -400px;
  top: 0px;
  width: 380px;
  height: 100%;
  overflow: auto;
  -webkit-box-shadow: -4px 0px 5px 0px rgba(20, 210, 201, 0.3);
  box-shadow:         -4px 0px 5px 0px rgba(20, 210, 201, 0.3);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(18,178,183,1)), color-stop(100%,rgba(22,137,120,1)));
  background: -webkit-linear-gradient(-45deg,  rgba(18,178,183,1) 0%,rgba(22,137,120,1) 100%);
  background: linear-gradient(135deg,  rgba(18,178,183,1) 0%,rgba(22,137,120,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12b2b7', endColorstr='#e6168978',GradientType=1 );
  transition: all 500ms cubic-bezier(.52,.02,.52,.99);
}


/*Show button*/

#show-button{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(18,178,183,1)), color-stop(100%,rgba(22,137,120,0.9)));
  background: -webkit-linear-gradient(-45deg,  rgba(18,178,183,1) 0%,rgba(22,137,120,0.9) 100%);
  background: linear-gradient(135deg,  rgba(18,178,183,1) 0%,rgba(22,137,120,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12b2b7', endColorstr='#e6168978',GradientType=1 );
  transition: all 200ms cubic-bezier(.52,.02,.52,.99);
  position: fixed;
  top: 80%;
  right: -20px;
  cursor: pointer;
}

#show-button:hover{
transform: scale(1.4,1.4);
z-index: 999999;
}

#button-circle{
  height: 60px;
  background-image: url('/sb-logo.png'); 
  background-size: 79px 30px;
  background-repeat: no-repeat;
  margin-left: 16px;
  margin-top: 10px;
}


/*Top bar stuff*/

/*Hide button*/
.fa-arrow-right{
  line-height: 20px;
}


#hide-button{
  text-align: left;
  height: 20px;
  width: 50px;
/*  background: rgba(0,0,0,.2);*/
  color: white;
  font-family: 'Open Sans';
  font-size: 9px;
  text-indent: 4px;
  cursor: pointer;
}
#hide-button:hover{
  background: rgba(0,0,0,.4);

}

#top-bar{
  height: 20px;
  width: 380px;
  right: -400px;
  top: 0px;
  background: #109b9e;
  position: fixed;
  text-align: right;
  z-index: 500;
  transition: all 500ms cubic-bezier(.52,.02,.52,.99);

}

#top-bar-buttons{

  margin-top: -20px;
}



#logout,#login{
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  float: right; 
  right: 0px;
  top: 0px;
  color: white;
  font-size: 9px;
  font-family: 'Open Sans';
  line-height: 20px;
  font-weight: 300;
  cursor: pointer;
}
#logout:hover,#login:hover{
  background: rgba(0,0,0,.4)
}


#signup{
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  float: right;
  right: 0px;
  top: 0px;
  color: white;
  font-size: 9px;
  font-family: 'Open Sans';
  line-height: 20px;
  font-weight: 300;
  cursor: pointer;

}

#signup:hover{
  background: rgba(0,0,0,.4)
}



#logo{
  background-image: url('sb-logo.png');
  position: absolute;
  top: 40px;
  left: 20px;
  height: 70px;
  width: 200px;
  background-size: 100px 38px;
  background-repeat: no-repeat;
}


/*link stuff*/

#linkCC{
  height: 20%;
  overflow: auto;
  margin-bottom: 30px;
  margin-top: 4px;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 30px;
  transition: all 200ms cubic-bezier(.52,.02,.52,.99);
  padding-bottom: 10px;
  color: rgba(0,0,0,.4);

}

.linkContainer{
  margin-bottom: 10px;

}

.link{
  font-size: 13px;
  color: rgba(0,0,0,.6);
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  border-bottom: 1px solid rgba(0,0,0,.1);
  cursor: pointer;
}

.link:hover{
  border-bottom: 1px solid white;
  color: white;
}

.linkMeta{
  color: rgba(0,0,0,.2);
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 10px;
}

.linkMeta:hover{
  color: rgba(0,0,0,.6);
  cursor: pointer;
}

/*Comments stuff*/
.commentsLink{
  cursor: pointer;
}

.commentsLink:hover{

  color: rgba(0,0,0,.6);

}


/*Add post stuff*/


#addPost{
  position: absolute;
  left: 130px;
  top: 50px;
  width: 30px;
  height: 30px;
  border-radius: 60px;
  background: rgba(0,0,0,.1);
  text-align: center;
  transition: all 200ms cubic-bezier(.52,.02,.52,.99);
  cursor: pointer;
}


.addComment{
  position: relative;
  left: 16px;
  margin-top: 30px;
  width: 140px;
  height: 30px;
  border-radius: 60px;
  background: rgba(0,0,0,.1);
  text-indent: 6px;
  transition: all 200ms cubic-bezier(.52,.02,.52,.99);
  cursor: pointer;

}

#addCommentsHeader{
  position: absolute;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  color: white;
  left: 28px;
  top: 0px;
}


#addPost:hover,.addComment:hover{

  background: rgba(0,0,0,.4);
}

#submitPost{
  position: absolute;
  left: 20px;
  top: 230px;
  width: 30px;
  height: 30px;
  border-radius: 60px;
  background: rgba(0,0,0,.1);
  text-align: center;
  transition: all 200ms cubic-bezier(.52,.02,.52,.99);
  cursor: pointer;
  z-index: 10000;
}

.submitComment{
  position: relative;
  display: inline-block;

  margin-top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 60px;
  background: rgba(0,0,0,.1);
  text-align: center;
  transition: all 200ms cubic-bezier(.52,.02,.52,.99);
  cursor: pointer;
  z-index: 10000;
}

#submitPost:hover,.submitComment:hover{
  transform: scale(1.4,1.4);
  background: rgba(0,0,0,.4);
}

#closePost{
  position: absolute;
  right: 30px;
  top: 230px;
  width: 30px;
  height: 30px;
  border-radius: 60px;
  background: rgba(0,0,0,.1);
  text-align: center;
  transition: all 200ms cubic-bezier(.52,.02,.52,.99);
  cursor: pointer;
  z-index: 10000;
}

.closeComment{
  position: relative;
  display: inline-block;
  float: right;

  margin-top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 60px;
  background: rgba(0,0,0,.1);
  text-align: center;
  transition: all 200ms cubic-bezier(.52,.02,.52,.99);
  cursor: pointer;
  z-index: 10000;
}

#closePost:hover,.closeComment:hover{
  transform: scale(1.4,1.4);
  background: #ad433c;
  color: white;
}

.fa-times{
  line-height: 32px;
  color: white;
}



#add-post-container{
  transition: all 300ms cubic-bezier(.52,.02,.52,.99);
}

.add-comment-container{
  position: relative;
height: auto;
transition: all 300ms cubic-bezier(.52,.02,.52,.99);
padding-bottom: 20px;
border-bottom: 1px solid rgba(0,0,0,.2);
width: 320px;
margin-left: 20px;
}


#add-post-input{
  width: 310px;
  height: 0px;
  position: absolute;
  left: 20px;
  top: 120px;
  vertical-align: top;
  resize: none;
  border: none;
  color: #393939;
  outline: none;
  overflow: auto;
  padding: 10px;
  font-family: 'Open Sans';
  font-size: 14px;
  border-radius: 4px;
  transition: all 500ms cubic-bezier(.52,.02,.52,.99);
  opacity: 0;
}

.add-comment-input{
  width: 300px;
  height: 0px;
  position: relative;

  margin-top: 20px;
  vertical-align: top;
  resize: none;
  border: none;
  color: #393939;
  outline: none;
  overflow: auto;
  padding: 10px;
  font-family: 'Open Sans';
  font-size: 14px;
  border-radius: 4px;
  transition: all 500ms cubic-bezier(.52,.02,.52,.99);
  opacity: 0;
}


.fa-plus{
  line-height: 32px;
  color: white;
}



#postCC{
  
  overflow: auto;
  height: 55%;
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 30px;
  transition: all 200ms cubic-bezier(.52,.02,.52,.99);
  border-bottom: 1px solid rgba(0,0,0,.2);
  border-top: 1px solid rgba(0,0,0,.2);
  padding-top: 10px;
  padding-bottom: 40px;
}

.postMeta{
  color: rgba(0,0,0,.2);
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 10px;
}



.post{

  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: white;
  font-size: 14px;
  line-height: 26px;


}

.postContainer{

  margin-bottom: 10px;

}


/*user stuff*/

.userName{
  cursor: pointer;
}

.userName:hover{
color: rgba(0,0,0,.6);
}


/*Comment stuff*/

.commentCC{
  width: 380px;
  height: 100%;
  position: fixed;
  top: 20px;
  right: -400px;
  z-index: 10;
  transition: all 500ms cubic-bezier(.52,.02,.52,.99);
  background: #32beb7;
  overflow: auto;
  border-left: 1px solid rgba(255,255,255,.1);
}

#commentHeader{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 20px;
  color: rgba(0,0,0,.4);
  padding-left: 20px;
  padding-right: 40px;

}

.commentContainer{
  margin-bottom: 20px;
  color: white;
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 40px;
  line-height: 26px;

}

.comments-body-container{
  width: 380px;
  position: relative;
  height: auto;
  margin-top: 40px;
}


#hide-comments-button{
  position: absolute;
  left: 20px;
  top: 20px;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 300;
  color: rgba(0,0,0,.4);
  cursor: pointer;
}

.hide-comments-vert-button{
  width:10px;
  height: 100%;
  position: fixed;
  right:0px;
  top: 20px;
  background: rgba(0,0,0,0);

}

.hide-comments-vert-button:hover{
  cursor: pointer;
  }

#hide-comments-button:hover{
  color: white;

}

.postContainer-in-comments{
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 60px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding-bottom: 20px;
}

.postBody-in-comments{
  font-size: 26px;
  line-height: 34px;
}

.postBody{
  cursor:pointer;
}

/*User stuff section*/

.userCC{
  width: 380px;
  height: 100%;
  position: fixed;
  top: 20px;
  right: -400px;
  z-index: 12;
  transition: all 500ms cubic-bezier(.52,.02,.52,.99);
  background: #32beb7;
  overflow: auto;
  border-left: 1px solid rgba(255,255,255,.1);
}

#hide-user-button{
  position: absolute;
  left: 20px;
  top: 20px;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 300;
  color: rgba(0,0,0,.4);
  cursor: pointer;
}

.hide-user-vert-button{
  width:10px;
  height: 100%;
  position: fixed;
  right:0px;
  top: 20px;
  background: rgba(0,0,0,0);

}

.hide-user-vert-button:hover{
  cursor: pointer;
  }

#hide-user-button:hover{
  color: white;

}

.userHeader{
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 30px;
  color: white;
  padding-left: 20px;
  padding-right: 40px;

}

/*Login / Sign up section */

#sessionCC{

  width: 380px;
  height: 100%;
  position: fixed;
  top: 20px;
  right: -400px;
  z-index: 999999999;
  transition: all 500ms cubic-bezier(.52,.02,.52,.99);
  background: #0f9396;
  border-left: 1px solid rgba(255,255,255,.1);

}

#loginContainer{
  margin-left: 20px;
  font-family: 'Open Sans';


}

#signupContainer{
  margin-left: 20px;
  font-family: 'Open Sans';

}


#hide-session-button{
  position: absolute;
  left: 20px;
  top: 20px;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 300;
  color: rgba(0,0,0,.4);
  cursor: pointer;
}

#hide-session-button:hover{
  color: white;
}

#loginHeader{
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 30px;
  color: white;

  padding-right: 40px;
}

#signupHeader{
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 30px;
  color: white;

  padding-right: 40px;
}

.usernameInput{
  margin-bottom: 10px;
  width: 240px;
  height: 20px;
  vertical-align: top;
  border: none;
  color: #393939;
  outline: none;
  padding: 4px;
  font-family: 'Open Sans';
  font-size: 12px;
  border-radius: 4px;
  transition: all 500ms cubic-bezier(.52,.02,.52,.99);
}
.passwordInput{
  margin-bottom: 10px;
  width: 240px;
  height: 20px;
  vertical-align: top;
  border: none;
  color: #393939;
  outline: none;
  padding: 4px;
  font-family: 'Open Sans';
  font-size: 12px;
  border-radius: 4px;
  transition: all 500ms cubic-bezier(.52,.02,.52,.99);
}

#signupSubmitButton{

  width: 80px;
  height: 28px;
  border-radius: 4px;
  background: rgba(0,0,0,.1);
  text-align: center;
  transition: all 200ms cubic-bezier(.52,.02,.52,.99);
  cursor: pointer;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 10px;
  color: white;
  }

#loginSubmitButton{

  width: 80px;
  height: 28px;
  border-radius: 4px;
  background: rgba(0,0,0,.1);
  text-align: center;
  transition: all 200ms cubic-bezier(.52,.02,.52,.99);
  cursor: pointer;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 10px;
  color: white;
  }

.submit{
  line-height: 30px;
}