<div rel='<%="#{comment.note_id}"%>' class='commentContainer'>
  <span class="commentBody"><%= comment.description %></span>
  <div class="postMeta">
    <span class="userName">@<%#= User.find(comment.user_id).username %></span>&nbsp;&nbsp; | &nbsp;&nbsp;<span class="date"><%= (comment.created_at ? comment.created_at.strftime("%m/%d/%Y") : "" ) %>
  </span>
  </div>
</div>
